extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p
          | Loc8r was created to help people find places to sit down and get a bit of work done.
          | <br />
      .col-sm-9
        p
          |<br />
          |Loc8r will list nearby places with WiFi where people can go and get some work done. It will also display facilities, opening times, a rating, and a location map for each place. Visitors will be able to submit ratings and reviews.
          |<br /><br />
          |So what are we actually going to be building as we go through the book? We’ll be building an application called Loc8r. Loc8r will list nearby places with WiFi where people can go and get some work done. It will also display facilities, opening times, a rating, and a location map for each place. Users will be able to log in and submit ratings and reviews.
          |<br/></br>
          |This application has some grounding in the real world. Location-based applications themselves are nothing particularly new and come in a few different guises. Foursquare and Facebook Check In list everything nearby that they can, and crowdsource data for new places and information updates. UrbanSpoon helps people find nearby places to eat, allowing a user to search on price bracket and type of cuisine. Even companies like Starbucks and McDonald’s have sections of their applications to help users find the nearest one.
